﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CodeGen Workload Information Systems as designed by NUST Team 4 is one of the young startups which are makinga major impact on the techspace.</a>.</p>
</div>
