﻿@page
@model schoolAdmin.Pages.WorkMenuModel
@{
}

<!DOCTYPE html>
<!-- By Edilson Zau -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Admin System || Administrative Access</title>
    <link rel="stylesheet" href="stylesheets/user-access-point.css">
</head>
<body>
    <div>
        <h3 style="color:black; font-weight:600; padding:0px; float:right; margin:0;"><a href="login.html" style="text-decoration: none; color:black;">LOGOUT</a></h3>
    </div><br><br>
    <div class="main">
        <h1 style="color: #FFC0CB; font-size: 2.64em;">Welcome</h1>
        <h3>How can we help you</h3>
        <a href="teaching-workload.html">
            <div class="wrapper">
                <h4>Teaching WorkLoad</h4>
            </div>
        </a>
        <a href="research-workload.html">
            <div class="wrapper">
                <h4>Research WorkLoad</h4>
            </div>
        </a>
        <a href="administrative-workload.html">
            <div class="wrapper">
                <h4>Administrative WorkLoad</h4>
            </div>
        </a>
        <a href="communit-engagement-workload.html">
            <div class="wrapper">
                <h4>Community Engagement WorkLoad</h4>
            </div>
        </a>
    </div>
</body>
</html>
